@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To do Management Web App</h1>
    <p class="lead">This is the Web App for class GCD0805</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Fubnctionalities</h2>
        <p>
            For Users
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manager Functionalities</h2>
      <p>For Manager</p>
    </div>
    <div class="col-md-4">
        <h2>Admin Functionalities</h2>
      <p>For Admin</p>
    </div>
</div>