@model IEnumerable<GCD0805AppDev.Models.ApplicationUser>
@{
    ViewBag.Title = "TeamMembers";
}

<h2>Team Members</h2>

<ul>
  @foreach (var user in Model)
      {
        <li>@user.Email</li>
      }
</ul>

