@model IEnumerable<GCD0805AppDev.ViewModels.Stats>
@{
  ViewBag.Title = "Stats";
}

<h2>Stats</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td>@item.Category.Description</td>
      <td>@item.Count</td>
    </tr>
    }

  </tbody>
</table>

